<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="C:\Users\AKANKSHA\OneDrive\Desktop\Projects\Code4Cause\college\templates\college\stylesheet.css"/>
    <title>Title</title>
</head>
    <link rel="header" type="text/html" href="C:\Users\AKANKSHA\OneDrive\Desktop\Projects\Code4Cause\college\templates\college\header.html"/>
<body>
    <p> Details of the event <color>blue</color></p>

    
    <footer>
    <link rel="stylesheet" type="text/css" href="C:\Users\AKANKSHA\OneDrive\Desktop\Projects\Code4Cause\college\templates\college\footer.html"/>
    </footer>
</body>
</html>