<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="C:\Users\AKANKSHA\OneDrive\Desktop\Projects\Code4Cause\college\templates\college\stylesheet.css"/>
    <title>Title</title>
</head>
<header>

    <div class="header">
    <P> Code4Cause </P>
    <div class="menu-bar">
        <div class="topnav">
    <ul>   
    <li class="active" ><a href="">Home</a></li>
    <li><a href="">About</a></li>
    <li><a href="">##</a></li>
    <div class="search-container">
        <form action="##">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
    </ul>
    </div>
    </div>
</div>
    
    </header>
<body>

</body>
</html>