<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="C:\Users\AKANKSHA\OneDrive\Desktop\Projects\Code4Cause\college\templates\college\stylesheet.css"/>
    <title>About</title>
</head>
<header>
    <link rel="header" type="text/html" href="C:\Users\AKANKSHA\OneDrive\Desktop\Projects\Code4Cause\college\templates\college\header.html"/>
    </header>
<body>

    <div class="text-data-css">
        <p>is your one-stop destination for all things related to college events, activities, and gatherings. Whether you're a student, faculty member, or simply someone who loves the vibrant energy of college life, this website has something for everyone.
        </p>
    </div>
    <div class="about-css">
        <span class="badge">
        <p>
            What We Offer:
        </p>

        <p>
            Event Listings: Browse through a comprehensive list of upcoming college events, including lectures, workshops, concerts, sports games, and social gatherings. Filter events by date, location, or type to find exactly what interests you.
       </p>

       <p>
            Event Creation: Student organizations and clubs can easily create and promote their events on our website. It provides a platform for organizers to reach a wider audience and manage RSVPs.
       </p>
    </span>
    </div>



    <link rel="stylesheet" type="text/css" href="C:\Users\AKANKSHA\OneDrive\Desktop\Projects\Code4Cause\college\templates\college\footer.html"/>

</body>
</html>